In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
    'Referer': 'https://www.ambitionbox.com/'
}

webpage=requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1',headers=headers).text

In [3]:
soup=BeautifulSoup(webpage,'lxml')

In [4]:
company=soup.find_all('div',class_='companyCardWrapper')

In [5]:
Name = []
Rating = []
Description = []
Highly_Rated_For = []
Critically_Rated_For = []

for i in company:
    name_element = i.find('h2')
    rating_element = i.find('span', class_='companyCardWrapper__companyRatingValue')
    description_element = i.find('span', class_='companyCardWrapper__interLinking')
    
     # Find Highly Rated For section
    highly_rated_for_section = i.find('span', class_='companyCardWrapper__ratingHeader--high')
    highly_rated_for_value = None
    if highly_rated_for_section:
        highly_rated_for_value = highly_rated_for_section.find_next('span', class_='companyCardWrapper__ratingValues')

    # Find Critically Rated For section
    critically_rated_for_section = i.find('span', class_='companyCardWrapper__ratingHeader--critical')
    critically_rated_for_value = None
    if critically_rated_for_section:
        critically_rated_for_value = critically_rated_for_section.find_next('span', class_='companyCardWrapper__ratingValues')


  
   
    # Check if the elements are found before accessing their text content
    
    if name_element:
        Name.append(name_element.text.strip())
    else:
        Name.append("N/A")

    if rating_element:
        Rating.append(rating_element.text.strip())
    else:
        Rating.append("N/A")

    if description_element:
        Description.append(description_element.text.strip())
    else:
        Description.append("N/A")
    
    Highly_Rated_For.append(highly_rated_for_value.text.strip() if highly_rated_for_value else "N/A")
    Critically_Rated_For.append(critically_rated_for_value.text.strip() if critically_rated_for_value else "N/A")
    


  
 # Create a DataFrame
df = pd.DataFrame({
    'Name': Name,
    'Rating': Rating,
    'Description': Description,
   
    'Highly_Rated_For':Highly_Rated_For,
    'Critically_Rated_For':Critically_Rated_For
    
})

In [6]:
df

,Name,Rating,Description,Highly_Rated_For,Critically_Rated_For
0,TCS,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits"
1,Accenture,4.0,IT Services & Consulting | 1 Lakh+ Employees |...,"Company Culture, Job Security, Skill Developme...",N/A
2,Cognizant,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,Skill Development / Learning,N/A
3,Wipro,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,Job Security,N/A
4,ICICI Bank,4.0,Banking | 1 Lakh+ Employees | Public | 29 year...,"Job Security, Skill Development / Learning, Co...",N/A
5,HDFC Bank,3.9,Banking | 1 Lakh+ Employees | Public | 29 year...,"Job Security, Skill Development / Learning",N/A
6,Infosys,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Company Culture, Skill Developme...",N/A
7,Capgemini,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance, Skill Develop...",N/A
8,HCLTech,3.7,IT Services & Consulting | 1 Lakh+ Employees |...,Job Security,Promotions / Appraisal
9,Tech Mahindra,3.7,IT Services & Consulting | 1 Lakh+ Employees |...,N/A,N/A
10,Genpact,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Skill Development / Learning, Wo...",N/A
11,Axis Bank,3.8,Banking | 50k-1 Lakh Employees | Public | 30 y...,Job Security,N/A
12,Concentrix Corporation,3.9,BPO | 50k-1 Lakh Employees | Public | 40 years...,"Job Security, Company Culture",N/A
13,Amazon,4.1,Internet | 1 Lakh+ Employees | Public | 29 yea...,"Company Culture, Salary & Benefits, Work Life ...",N/A
14,Teleperformance,3.5,BPO | 50k-1 Lakh Employees | Forbes Global 200...,N/A,N/A
15,Reliance Jio,3.9,Telecom | 50k-1 Lakh Employees | Public | 16 y...,"Job Security, Skill Development / Learning",N/A
16,IBM,4.1,Software Product | 1 Lakh+ Employees | Public ...,"Work Life Balance, Job Security, Skill Develop...",N/A
17,Larsen & Toubro Limited,4.0,Engineering & Construction | 10k-50k Employees...,"Job Security, Skill Development / Learning",N/A
18,Reliance Retail,3.9,Retail | 1 Lakh+ Employees | 17 years old | Na...,"Skill Development / Learning, Job Security",N/A
19,HDB Financial Services,4.0,NBFC | 1 Lakh+ Employees | 16 years old | Ahme...,"Skill Development / Learning, Job Security, Co...",N/A

In [7]:
all_data=pd.DataFrame()

for pages in range(1,504):
    
    url='https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(pages)
    
    headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
    'Referer': 'https://www.ambitionbox.com/'
              }

    webpage=requests.get(url,headers=headers).text
    
    soup=BeautifulSoup(webpage,'lxml')
    
    company=soup.find_all('div',class_='companyCardWrapper')
    
    Name = []
    Rating = []
    Description = []
    Highly_Rated_For = []
    Critically_Rated_For = []

    for i in company:
        
        name_element = i.find('h2')
        rating_element = i.find('span', class_='companyCardWrapper__companyRatingValue')
        description_element = i.find('span', class_='companyCardWrapper__interLinking')
        
           # Find Highly Rated For section
        highly_rated_for_section = i.find('span', class_='companyCardWrapper__ratingHeader--high')
        highly_rated_for_value = None
        if highly_rated_for_section:
                   highly_rated_for_value = highly_rated_for_section.find_next('span', class_='companyCardWrapper__ratingValues')
            

    # Find Critically Rated For section
        critically_rated_for_section = i.find('span', class_='companyCardWrapper__ratingHeader--critical')
        critically_rated_for_value = None
        if critically_rated_for_section:
                   critically_rated_for_value = critically_rated_for_section.find_next('span', class_='companyCardWrapper__ratingValues')

        
  
   
    # Check if the elements are found before accessing their text content
    
        if name_element:
            Name.append(name_element.text.strip())
        else:
            Name.append("N/A")

        if rating_element:
             Rating.append(rating_element.text.strip())
        else:
             Rating.append("N/A")

        if description_element:
             Description.append(description_element.text.strip())
        else:
            Description.append("N/A")
        
        Highly_Rated_For.append(highly_rated_for_value.text.strip() if highly_rated_for_value else "N/A")
        
        Critically_Rated_For.append(critically_rated_for_value.text.strip() if critically_rated_for_value else "N/A")
    
   
   
            
  
     # Create a DataFrame
    df = pd.DataFrame({
        'Name': Name,
        'Rating': Rating,
        'Description': Description,
        'Highly_Rated_For':Highly_Rated_For,
        'Critically_Rated_For':Critically_Rated_For
    
    })
    
    
    all_data=pd.concat([all_data,df],ignore_index=True)

In [8]:
 all_data

,Name,Rating,Description,Highly_Rated_For,Critically_Rated_For
0,TCS,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits"
1,Accenture,4.0,IT Services & Consulting | 1 Lakh+ Employees |...,"Company Culture, Job Security, Skill Developme...",N/A
2,Cognizant,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,Skill Development / Learning,N/A
3,Wipro,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,Job Security,N/A
4,ICICI Bank,4.0,Banking | 1 Lakh+ Employees | Public | 29 year...,"Job Security, Skill Development / Learning, Co...",N/A
...,...,...,...,...,...
9995,Youngman India,4.1,Industrial Machinery | 201-500 Employees | 12 ...,"Company Culture, Work Life Balance, Work Satis...",N/A
9996,Stemrobo Technologies,4.3,IT Services & Consulting | 201-500 Employees (...,"Company Culture, Skill Development / Learning,...",N/A
9997,EC-Mobility,3.9,IT Services & Consulting | 201-500 Employees |...,Company Culture,N/A
9998,Freshers Universe,4.2,IT Services & Consulting | 51-200 Employees (G...,"Company Culture, Work Life Balance, Salary & B...",N/A
9999,Ocean Life Spaces,3.5,Engineering & Construction | 201-500 Employees...,N/A,N/A

In [9]:
all_data.shape

(10000, 5)

In [10]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  10000 non-null  object
 1   Rating                10000 non-null  object
 2   Description           10000 non-null  object
 3   Highly_Rated_For      10000 non-null  object
 4   Critically_Rated_For  10000 non-null  object
dtypes: object(5)
memory usage: 390.8+ KB

In [11]:
all_data['Description'][0]

'IT Services & Consulting | 1 Lakh+ Employees | Public | 55 years old | Mumbai +317 more'

In [12]:
# Split the 'Description' column into multiple columns
all_data[['Expertise', 'Number_of_Employees', 'Type', 'Age', 'Location']] = all_data['Description'].str.split(' \| ', expand=True)

In [13]:
all_data

,Name,Rating,Description,Highly_Rated_For,Critically_Rated_For,Expertise,Number_of_Employees,Type,Age,Location
0,TCS,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",IT Services & Consulting,1 Lakh+ Employees,Public,55 years old,Mumbai +317 more
1,Accenture,4.0,IT Services & Consulting | 1 Lakh+ Employees |...,"Company Culture, Job Security, Skill Developme...",N/A,IT Services & Consulting,1 Lakh+ Employees,Public,34 years old,Dublin +157 more
2,Cognizant,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,Skill Development / Learning,N/A,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,29 years old,Teaneck. New Jersey. +136 more
3,Wipro,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,Job Security,N/A,IT Services & Consulting,1 Lakh+ Employees,Public,78 years old,Bangalore/Bengaluru +265 more
4,ICICI Bank,4.0,Banking | 1 Lakh+ Employees | Public | 29 year...,"Job Security, Skill Development / Learning, Co...",N/A,Banking,1 Lakh+ Employees,Public,29 years old,Mumbai +1232 more
...,...,...,...,...,...,...,...,...,...,...
9995,Youngman India,4.1,Industrial Machinery | 201-500 Employees | 12 ...,"Company Culture, Work Life Balance, Work Satis...",N/A,Industrial Machinery,201-500 Employees,12 years old,Greater Noida +13 more,None
9996,Stemrobo Technologies,4.3,IT Services & Consulting | 201-500 Employees (...,"Company Culture, Skill Development / Learning,...",N/A,IT Services & Consulting,201-500 Employees (Global),7 years old,Noida +1 more,None
9997,EC-Mobility,3.9,IT Services & Consulting | 201-500 Employees |...,Company Culture,N/A,IT Services & Consulting,201-500 Employees,6 years old,Aurangabad +2 more,None
9998,Freshers Universe,4.2,IT Services & Consulting | 51-200 Employees (G...,"Company Culture, Work Life Balance, Salary & B...",N/A,IT Services & Consulting,51-200 Employees (Global),11 years old,Toronto +17 more,None
9999,Ocean Life Spaces,3.5,Engineering & Construction | 201-500 Employees...,N/A,N/A,Engineering & Construction,201-500 Employees,27 years old,Chennai +3 more,None

In [14]:
all_data.columns

Index(['Name', 'Rating', 'Description', 'Highly_Rated_For',
       'Critically_Rated_For', 'Expertise', 'Number_of_Employees', 'Type',
       'Age', 'Location'],
      dtype='object')

In [15]:
# Reorder columns
all_data = all_data[['Name', 'Rating', 'Expertise', 'Number_of_Employees', 'Type', 'Age', 'Location', 'Highly_Rated_For', 'Critically_Rated_For', 'Description']]

In [16]:
all_data

,Name,Rating,Expertise,Number_of_Employees,Type,Age,Location,Highly_Rated_For,Critically_Rated_For,Description
0,TCS,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,55 years old,Mumbai +317 more,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",IT Services & Consulting | 1 Lakh+ Employees |...
1,Accenture,4.0,IT Services & Consulting,1 Lakh+ Employees,Public,34 years old,Dublin +157 more,"Company Culture, Job Security, Skill Developme...",N/A,IT Services & Consulting | 1 Lakh+ Employees |...
2,Cognizant,3.9,IT Services & Consulting,1 Lakh+ Employees,Forbes Global 2000,29 years old,Teaneck. New Jersey. +136 more,Skill Development / Learning,N/A,IT Services & Consulting | 1 Lakh+ Employees |...
3,Wipro,3.8,IT Services & Consulting,1 Lakh+ Employees,Public,78 years old,Bangalore/Bengaluru +265 more,Job Security,N/A,IT Services & Consulting | 1 Lakh+ Employees |...
4,ICICI Bank,4.0,Banking,1 Lakh+ Employees,Public,29 years old,Mumbai +1232 more,"Job Security, Skill Development / Learning, Co...",N/A,Banking | 1 Lakh+ Employees | Public | 29 year...
...,...,...,...,...,...,...,...,...,...,...
9995,Youngman India,4.1,Industrial Machinery,201-500 Employees,12 years old,Greater Noida +13 more,None,"Company Culture, Work Life Balance, Work Satis...",N/A,Industrial Machinery | 201-500 Employees | 12 ...
9996,Stemrobo Technologies,4.3,IT Services & Consulting,201-500 Employees (Global),7 years old,Noida +1 more,None,"Company Culture, Skill Development / Learning,...",N/A,IT Services & Consulting | 201-500 Employees (...
9997,EC-Mobility,3.9,IT Services & Consulting,201-500 Employees,6 years old,Aurangabad +2 more,None,Company Culture,N/A,IT Services & Consulting | 201-500 Employees |...
9998,Freshers Universe,4.2,IT Services & Consulting,51-200 Employees (Global),11 years old,Toronto +17 more,None,"Company Culture, Work Life Balance, Salary & B...",N/A,IT Services & Consulting | 51-200 Employees (G...
9999,Ocean Life Spaces,3.5,Engineering & Construction,201-500 Employees,27 years old,Chennai +3 more,None,N/A,N/A,Engineering & Construction | 201-500 Employees...

In [17]:
all_data = all_data.drop(columns=['Description'])

In [18]:
all_data.sample(10)

,Name,Rating,Expertise,Number_of_Employees,Type,Age,Location,Highly_Rated_For,Critically_Rated_For
896,GEP Worldwide,3.8,IT Services & Consulting,1k-5k Employees,24 years old,Clark +8 more,None,"Company Culture, Job Security",N/A
1315,Wonder Cement,4.1,Building Material,1k-5k Employees,Fortune India 500,13 years old,Ajmer +71 more,"Skill Development / Learning, Job Security, Co...",N/A
6782,Fouress Engineering India,3.2,Engineering & Construction,501-1k Employees,61 years old,Mumbai +6 more,None,N/A,"Salary & Benefits, Promotions / Appraisal, Com..."
5059,UAE Exchange,3.8,FinTech,1-10 Employees,Public,28 years old,Abu Dhabi +33 more,"Work Life Balance, Skill Development / Learnin...",N/A
1574,Ziqitza Health Care,4.1,Healthcare,5k-10k Employees,Public,18 years old,Mumbai +49 more,"Work Life Balance, Company Culture, Work Satis...",N/A
481,XL Dynamics,3.3,IT Services & Consulting,1k-5k Employees,21 years old,Navi Mumbai +27 more,None,N/A,Job Security
755,Paytm Payments Bank,3.8,FinTech,1k-5k Employees,Public,7 years old,Noida +100 more,N/A,N/A
3033,World Network Services,3.4,Pune +13 more,None,None,None,None,N/A,Promotions / Appraisal
9800,Innovare Labs,3.5,Pharma,11-50 Employees,11 years old,Hyderabad/Secunderabad +3 more,None,N/A,N/A
3296,Eaton India Innovation Center,4.1,Analytics & KPO,1k-5k Employees,Pune +1 more,None,None,"Job Security, Company Culture, Salary & Benefits",N/A

In [19]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  10000 non-null  object
 1   Rating                10000 non-null  object
 2   Expertise             10000 non-null  object
 3   Number_of_Employees   9855 non-null   object
 4   Type                  9652 non-null   object
 5   Age                   9129 non-null   object
 6   Location              2742 non-null   object
 7   Highly_Rated_For      10000 non-null  object
 8   Critically_Rated_For  10000 non-null  object
dtypes: object(9)
memory usage: 703.3+ KB

In [20]:
all_data.to_csv('CompanyListing_AmbitionBox.csv',index=False,)